@import './utills.scss';

body{
   width:100vw;
   height:auto; 
   background:rgb(204, 204, 204);
   @include display_as_column_center();
   .resume_container{
       background:white;
       width:210mm;
       height:297mm;
       @include display_as_column();
       section{
           padding:5px 40px;
           width:100%;
           &:nth-child(1){
               @include display_as_row_space_between();
               background:rgb(50, 28, 146);
               .pic{
                   width:140px;
                   height:140px;
                   overflow: hidden;
                   border-radius:50%;
                   border:5px solid rgb(26, 241, 248);
                   @include display_center();
                   margin:0px 50px;
                   img{
                       width:150px;
                       
                   }
               }
               h4{
                   color:white;
                   font-size:30px;
               }
               p{
                   color:rgb(26, 241, 248);
                    font-size:22px;                  
               }
               .moto{
                   font-size: 16px;
                   color:white;
               }
               
            }

           
       }
        h1{
            padding:0px 0px 0px 20px;
            text-decoration: underline;
            font-size:20px;
            color:rgb(0, 19, 48);
        }
       .contact_info{
           background:rgb(0, 19, 48);
           color:white;
           padding:10px 20px;

           div,a{
               @include display_as_row();
               color:white;
               text-decoration:none;
               align-items: center;
               font-size:13px;
               i{
                   margin:5px;
               }
           }
       }
       .skills{
           @include display_as_row();
           flex-wrap: wrap;
           span{
               background:#000000;
               color:white;
               padding:3px 10px;
               border-radius: 5px;
               margin:2px;

           }
       }
       .work_experiance{
            p{
                &:nth-child(1){
                    font-weight: bold;
                    font-size:18px;
                }
                &:nth-child(2){
                    font-weight: normal;
                    font-size:16px;
                }
                &:nth-child(3){
                    font-style: italic;
                    color:gray;
                    font-weight: bold;

                }
            }
       }
       li,p{
        font-size:15px;
        list-style-position: inside;
       }
       h5{
           font-size:18px;

       }
   }
}